* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    font-size: 10px;
    margin: auto;
}

main h2 {
    font-size: 28px;
}


.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    float: middle;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0;
}

.logo-container h1 {
    font-weight: 600;
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    padding: auto;
}

p {
    color: black;
    font-size: large;
}

.box {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box h1 {
    font-size: 32px;
    color: black;
}

.box p {
    padding: 10px;
}

main img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav {
    box-shadow: 3PX 3PX 5PX;
}

nav ul {
    width: 100%;
    list-style: none; 
    justify-content: center;
    display: flex;
    align-items: center;
}

nav li {
    height: 50PX;
       
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: yellowgreen;
    font-weight: 600;
    font-size: 22px;
}
/*

*/

nav a:hover {
    background: black;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:  rgb(163, 64, 64);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button{
  display: none;
}

body {
    background-color: rgb(163, 64, 64);
    min-height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*start article styling*/


article img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

article h2 {
    text-align: center;
    padding-block: 10px;
}

article p {
    padding-top: 10px;
}

/* end article styling*/



/* start footer styling*/

.facebook {
    padding: 0px;
    width: 40px;
    text-decoration: none;
}
.facebook:hover {
    opacity: 0.7;
}

.facebook {
    color: white;
}

.whatsapp {
    padding: 0px;
    width: 40px;
    text-decoration: none;
}

.whatsapp:hover {
    opacity: 0.7;
}

.whatsapp {
    color: white;
}

.youtube {
    padding: 0px;
    width: 40px;
    text-decoration: none;
}

.youtube:hover {
    opacity: 0.7;
}

.youtube {
    color: white;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

footer p {
    color: white;
}

.footer p a {
    font-size: large;
    color: white;
}

.copyright-text {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
}


/* end footer styling*/

 /*style de galeria*/

  

     /* start style para mobile view  */


@media (max-width: 768px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
        background-color: yellowgreen;
    }

   

    nav {
        background-color: yellowgreen;
    }

    main img {
        width: 100%;
        padding: 0 10px;
    }

   

   

}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  
}

/* end style para mobile view  */